*{
    font-family: sans-serif;
    margin: 0;
}
.header{
    height: 20vh;
    width: 100%; 
    text-align: center;
    background-color: #2d302e;
}
.image{
    height: 100%;
    width: auto;
}
.title{
    font-weight: 700;
    font-size: 4vh;
    margin: 2%;
}
.container{
    width: 100%;
    height: auto;
    text-align: center;
}
.imageblock{
    height: 60%;
    width: auto;
    text-align: center;
}
.formContainer{
    width: 60%;
    margin: 0 auto;
    text-align: left;
}
.form{
    font-size: 3vh;
    font-weight: 700;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}
.section{
    margin: 2% 0 2% 0;
}
.footer{
    background-color: #2d302e;
    height: 10vh;
    text-align: center;
    padding: 1% 0 1% 0;
    width: 100%;
}
.footer .image{
    height: 50%;
    width: auto;
    margin: 0;
}
.nametag{
    color: white;
    margin: 1% 0 0 0;
    font-weight: 400;
    font-size: 2vh;
}
.likert{
    list-style: none;
    text-align: center;
    margin-top: 1%;
}
.likert li{
    display: inline;
}
textarea{
    height: 10%;
    width: 100%;
}
.text{
    font-size: 3vh;
    font-weight: 400;
}